.tesla-battery {
  width: 1050px;
  margin: 0 auto;
}

.tesla-battery h1 {
  font-family: "RobotoNormal";
  font-weight: 100;
  font-size: 38px;
  text-align: center;
  letter-spacing: 3px;
}

.tesla-climate-container {
  float: left;
  width: 420px;
  padding: 0 40px;
  margin: 0 40px 0 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.tesla-controls {
  display: block;
  width: 100%;
}

@media (max-width: 640px) {
  .tesla-battery {
    padding: 3rem 2.5rem;
  }
  .tesla-battery h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .tesla-battery {
    padding: 4rem 3rem;
    max-width: 560px;
    border-radius: 2rem;
  }
  .tesla-battery h1 {
    font-size: 2.8rem;
  }

  // .tesla-controls {
  //   display: flex;
  // }
}
