.header {
  padding: 25px 0;
  text-align: center;
  background: #222;
  // width: 100%;
}

.header img {
  width: 100px;
  height: 13px;
}

// @media (min-width: 640px) {
//   .header {
//     padding: 2rem 2rem;
//   }
//   .header img {
//     height: 40px;
//   }
// }

// /* Desktop */
// @media (min-width: 768px) {
//   .header img {
//     height: 48px;
//   }
// }
